# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\a学习资料\a找工作学习准备\XMLSSM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
